*~
*.bak
*.org
Thumbs.db
desktop.ini
/**/.DS_Store
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea/*
!npm-debug.log
/node_modules
/styleguide

# WordPress

!google*.html
!wp-content/
!wp-content/themes/
!wp-content/themes/*
wp-content/themes/**/.DS_Store

# themes
wp-content/themes/**/images/*
wp-content/themes/**/js/*
wp-content/themes/**/*.css
!wp-content/themes/**/style.css

# original file

!gulpfile.js
!README.md
!package.json
!/aigis

