*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea/*
/node_modules
/styleguide

# wordpress

!google*.html
!wp-content/
!wp-content/themes/
!wp-content/themes/*

# themes
/**/images/*
/**/js/*

!**/assets/
!**/assets/**


# original file

!gulpfile.js
!README.md
!package.json
!/aigis

