*~
*.bak
*.org
Thumbs.db
desktop.ini
/**/.DS_Store
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea/*
!npm-debug.log
/node_modules
/styleguide

# WordPress

!google*.html
!wp-content/
!wp-content/themes/
!wp-content/themes/*
wp-content/themes/**/.DS_Store

# themes
/**/images/*
/**/js/*

!**/assets/
!**/assets/**


# original file

!gulpfile.js
!README.md
!package.json
!/aigis

